<% include header %>
<center>
        <div class="container">
            <h1><b>Simple Interest</b></h1>

            Amount      :<br> <input id="p"><br/><br>
            Rate        :<br> <input id="r"><br/><br>
            No. of Years:<br> <input id="t"><br/><br>
    
            <button onclick="calculated()">Calculate Interest</button>
    
            <p id="result"></p>
        </div>
    </center>

<%include footer%>

